<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SOFMTest.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SOFMTest.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <SOFMTest.Properties.Settings>
            <setting name="MaximalNumberOfNeurons" serializeAs="String">
                <value>1000</value>
            </setting>
            <setting name="MaximalNumberOfIterations" serializeAs="String">
                <value>10000</value>
            </setting>
        </SOFMTest.Properties.Settings>
    </applicationSettings>
    <userSettings>
        <SOFMTest.Properties.Settings>
            <setting name="MinimalEpsilon" serializeAs="String">
                <value>1E-09</value>
            </setting>
            <setting name="MaximalEpsilon" serializeAs="String">
                <value>0.1</value>
            </setting>
        </SOFMTest.Properties.Settings>
    </userSettings>
</configuration>